.quiz {
  background-color: var(--secondary);
  padding: var(--spacing-md);

  display: grid;
  grid-template-rows: 1fr auto;
  align-content: center;
  gap: var(--spacing-lg);
  height: 100%;
  text-align: center;
}

.question {
  display: grid;
  align-content: center;
}

.label {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.title {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
