.option {
  --height: 3.625rem;

  border: 1px solid var(--primary);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  width: 100%;
}

.option + .option {
  margin-top: var(--spacing-sm);
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}
