@import "npm:resetize";

:root {
  --spacing-lg: 2.5rem;
  --spacing-md: 1.5rem;
  --spacing-sm: 1rem;

  --primary: black;
  --secondary: gainsboro;
  --background: white;

  --content-on-dark: white;
  --content-on-light: black;
}
